
<form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <div class="row">
    <div>
      <i class="material-icons prefix">account_circle</i>
      <label data-error="Field is Required" for="name">Username</label>
      <input class="validate" type="text" [(ngModel)]="looUser.username" id="username" name="username" >
    </div>
    <div>
      <i class="material-icons prefix">email</i>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="looUser.email" id="email" name="email" required>
    </div>
  </div>
  <div class="row">
    <div>
        <i class="material-icons prefix">vpn_key</i>
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="looUser.password" id="password" name = "password" required>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s12">
        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">REGISTER</button>
      </div>
  </div>
</form>
