
<div class="ui centered card">
    <div class="content">
      <form class="ui form" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
        <div class="ui form">
          <div class="required field">
            <label>Username</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Username" [(ngModel)]="looUser.username" id="username" name="username" required>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="required field">
            <label>email</label>
            <div class="ui left icon input">
              <input type="email" placeholder="abc@xyz.com" [(ngModel)]="looUser.email" id="email" name="email" required>
              <i class="envelope  icon"></i>
            </div>
          </div>
          <div class="required field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password" [(ngModel)]="looUser.password" id="password" name = "password" require>
              <i class="lock icon"></i>
            </div>
          </div>
          <button class="blue fluid ui button" [disabled]="!userRegistrationForm.valid" type="submit">Register</button>
        </div>
      </form>
    </div>
</div>
