<div>
  <h1>Create review for Loo</h1>
  <form class="col s12 white" #reviewForm="ngForm" (ngSubmit)="OnSubmit(reviewForm)">
    <div>
      <i class="material-icons prefix">attach_money</i>
      <label for="price">Price: </label>
      <input type="text" [(ngModel)]="review.price" id="price" name="price" required>
    </div>
    <div>
      <i class="material-icons prefix">accessible</i>
      <label>isDisableFriendly</label>
      <label>
            <input type="radio" name="disabledFriendly" [(ngModel)]="review.disabledFriendly" [value]="true" required />
            yes
      </label>
      <label>
            <input type="radio" name="disabledFriendly" [(ngModel)]="review.disabledFriendly" [value]="false" required />
            no
      </label>
    </div>
    <div>
      <i class="material-icons prefix">comment</i>
      <label for="comment">Comment: </label>
      <input type="text" [(ngModel)]="review.comment" id="comment" name = "comment" required>
    </div>
    <div>
      <i class="material-icons prefix">star</i>
      <label for="newRating">StarRate: </label>
      <input type="text" [(ngModel)]="review.newRating" id="newRating" name="newRating" required>
    </div>
    <div>
      <i class="material-icons prefix">sentiment_very_satisfied</i>
      <label for="cleaness">Cleaness: </label>
      <input type="text" [(ngModel)]="review.cleanliness" id="cleanliness" name="cleanliness" required>
    </div>
    <button class="btn-medium btn-submit" type="submit">Review the Loo</button>
  </form>
</div>
