<div class="ui one cards" style="padding-top: 12px;">
  <div class="card" >
      <div class="content" >
        <form class="ui form" #looSiteForm="ngForm" (ngSubmit)="OnSubmit(looSiteForm)">
          <div class="ui equal width form">
            <h4 class="ui dividing header">Please help other by describing the Site of the loo</h4>
            <div class="fields">
              <div class="field">
                <label>Site Type</label>
                <select class="ui fluid dropdown">
                  <option *ngFor="let types of types" [value]="types.type">
                  {{types.type}}
                  </option>
                </select>
              </div>
              <div class="field">
                <label>Floor</label>
                <div class="ui left icon input">
                  <input type="number" [(ngModel)]="looSite.floor" id="floor" name = "floor">
                  <i class="list ol icon"></i>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Name of the building</label>
              <div class="ui left icon input">
                <input type="text" [(ngModel)]="looSite.nameOfBuilding" id="nameOfBuilding" name="nameOfBuilding">
                <i class="home icon"></i>
              </div>
            </div>
            <div class="fields">
              <div class="field">
                <label>OpenHours</label>
                <div class="ui left icon input">
                  <input type="text" [(ngModel)]="looSite.openHours" id="openHours" name = "openHours">
                  <i class="calendar times outline icon"></i>
                </div>
              </div>
              <div class="field">
                <label>type</label>
                <div class="ui left icon input">
                  <input type="text" [(ngModel)]="looSite.type" id="type" name = "type">
                  <i class="building outline outline icon"></i>
                </div>
              </div>
            </div>
          </div>
          <button class="ui button" type="submit">next</button> <app-logout *ngIf="islogin" ></app-logout>
        </form>
      </div>
  </div>
</div>
