<form width="200" height="200" class="col s12 white" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <i class="material-icons prefix">email</i>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="looUser.email" id="email" name="email" required>
    </div>
    <div>
      <i class="material-icons prefix">vpn_key</i>
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="looUser.password" id="password" name = "password" required>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">LOGIN</button>
        </div>
    </div>
</form>
