<form width="200" height="200" class="col s12 white" #loginForm="ngForm" (ngSubmit)="onSubmit()">

  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="/src/favicon.ico">

      <title>Signin Template for Bootstrap</title>

      <!-- Bootstrap core CSS -->
      <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom styles for this template -->
      <!-- <link href="/src/app/login/login.component.css" rel="stylesheet"> -->
    </head>

    <body class="text-center">
      <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="172" height="172" >
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" [(ngModel)]="looUser.email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" [(ngModel)]="looUser.password" id="password" name = "password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        <p class="mt-5 mb-3 text-muted">&copy; Developing Services For The Cloud Group10</p>
      </form>
    </body>
    <!-- <div>
      <i class="material-icons prefix">email</i>
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="looUser.email" id="email" name="email" required>
    </div>
    <div>
      <i class="material-icons prefix">vpn_key</i>
      <label for="password">Password</label>
      <input type="password" [(ngModel)]="looUser.password" id="password" name = "password" required>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">LOGIN</button>
        </div>
    </div> -->
</form>
