<!--<app-loo></app-loo>--->

<nav>
  <div class="three ui buttons">
    <button routerLink="/find-loo" class="ui button">Find Near-by Loos</button>
    <!--<button  class="ui button"">Checkin Loo</button>
    <div *ngIf='loadComponent'>
        <app-checkin-loo></app-checkin-loo>
    </div>-->
    <button routerLink="/checkin-loo" class="ui button" >Checkin Loo</button>
    <!--<button  class="ui button" (click)="loadChildComponentloadforRating()">Rate Loo</button>
    <div *ngIf= 'loadComponent'>
        <app-find-loo></app-find-loo>
    </div>-->
    <button routerLink="/find-loo" class="ui button">Rate Loo</button>
  </div>
</nav>
<!-- Routed Views go here -->
<router-outlet></router-outlet>
