<div *ngIf="lat && lng">
  <agm-map [zoom]="15"  [latitude]="lat" [longitude]= "lng" (mapClick)="getLocationOnConsole($event)">
    <agm-marker [latitude]="lat" [longitude]= "lng" >
          <agm-info-window>
            <h3><strong>Hello!!</strong></h3>
            <p>You are Here</p>
          </agm-info-window>
          icon
    </agm-marker>
    <agm-marker *ngFor="let loc of looLocations;let i= index" [latitude]="loc.looLatitude" [longitude]= "loc.looLongitude"  [iconUrl]="icon" (markerClick)="markerClicked(loc, i)">
          <agm-info-window>
            <h3><strong>Loo Cumulative General Rating::{{generalRating}}</strong></h3>
            <h3><strong>Loo's Latitude::{{i.marLat}}</strong></h3>
            <h3><strong>Loo's Longitude::{{i.marLng}}</strong></h3>
          </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
